{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="min-h-screen flex items-center justify-center bg-gray-50">
        <div class="max-w-lg w-full space-y-6 p-6 bg-white rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold text-gray-900 text-center">Task List</h2>

            <ul class="divide-y divide-gray-200">
                {% for product in products %}
                    <li class="flex justify-between items-center py-3">
                        <div class="text-lg font-medium text-gray-800">
                            {{ product.id }}) {{ product.name }}
                        </div>
                        <div class="text-lg font-medium text-gray-800">
                           Sold: {{ product.totalsold }}
                        </div>

                    </li>
                {% else %}
                    <li class="text-gray-500 text-center py-4">No products available.</li>
                {% endfor %}
            </ul>

            <div class="text-center">
                <a href="{{ path('app_dashboard') }}"
                   class="w-full inline-block py-2 px-4 border border-transparent rounded-md shadow-md text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 transition">
                    Go Back
                </a>
            </div>
        </div>
    </div>
{% endblock %}
